:root {
    --header-height: 4rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

bodY{
    margin: 0;
    color: #1C1C1C;
    background: #FAFAFA;
}

header{
    background: #1C1C1C;
    color: #FAFAFA;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 4rem;
    padding: 0;
    display: flex;
    flex-direction: column;
}

h1{
    margin: 0;
    margin-left: 1rem;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 300;
}
.flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.mobile-burger-container{
    display: inline-block;
    cursor: pointer;
}
.flex-container2{
    display: flex;
    align-items: center;
    height: var(--header-height);
}

.bar1, .bar2, .bar3{
    width: 35px;
    height: 2px;
    background-color: #FAFAFA;
    margin: 6px 0;
    transition: 0.4s;
}

.active .bar1{
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}
.active .bar2{
   opacity: 0;
}
.active .bar3{
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
.zoom-menu {
    display: flex;
    align-items: center;
    color: #FAFAFA;
    font-size: 1.3rem;
    position: relative;
    cursor: pointer;
    margin-right: 1rem;
}
.flex-column-container{
    display: flex;
    flex-direction: column;
}

.page-text{
    margin-top: 4.3rem;
}
.flex-column-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
    text-decoration: none;
    left: 0;
    margin: 0;
}
.menu-item{
    list-style: none;
    text-transform: uppercase;
    text-align: center;
    padding-top: 2em;

}
.menu-items{
    visibility: hidden;
    background-color: #1C1C1C;
    width: 100%;
    height: 100vh;
    margin: 0;
}

.active header{
    height: 100vh;
}
.active .menu-items{
    visibility: visible;
}

.icon-zoom-in{
    position: absolute;
    right: -0.5rem;
    bottom: -0.1rem;
    text-shadow: 0 0 0.2rem #1C1C1C;
}
.icon-font{
    font-size: 1.5rem;
}